
<div class="section footer-section mt-5" style="background-image: url(assets/images/footer-bg.jpg);">


            <!-- Footer Copyright End -->
            <div class="footer-copyright-section">
                <div class="container">

                    <!-- Copyright Wrapper Start -->
                    <div class="copyright-wrapper">

                         <div class="copyright-text">
                            <p>&copy; 2021 <span> Bikki </span> Made with <i class="icofont-heart-alt"></i> by <a href="https://www.bikashsubedi.com.np">Bikash Subedi</a></p>
                        </div>

                        <div class="copyright-social">
                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>

                    </div>
                    <!-- Copyright Wrapper End -->

                </div>
            </div>
            <!-- Footer Copyright End -->

        </div>