{% load static %}


<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Bikki | Car Damage Detecting Website</title>
<meta name="robots" content="noindex, follow"/>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

<!-- CSS
============================================ -->

<!-- Icon Font CSS -->
<link rel="stylesheet" href="{% static 'css/plugins/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/plugins/icofont.min.css' %}">

<!-- Plugins CSS -->
<link rel="stylesheet" href="{% static 'css/plugins/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/plugins/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'css/plugins/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/plugins/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'css/plugins/swiper-bundle.min.css' %}">
<link rel="stylesheet" href="{% static 'css/plugins/aos.css' %}">

<!-- Main Style CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>