{% load static %}


<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div class="">
            <img src="{% static 'images/logo-icon.png' %}" class="logo-icon-2" alt=""/>
        </div>
        <div>
            <h4 class="logo-text">AstroSales</h4>
        </div>
        <a href="javascript:;" class="toggle-btn ml-auto"> <i class="bx bx-menu"></i>
        </a>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a href="{% url 'carDamage:home' %}">
                <div class="parent-icon icon-color-1"><i class="bx bx-home-alt"></i>
                </div>
                <div class="menu-title">Dashboard</div>
            </a>
        </li>
        <li class="menu-label">Our Function</li>


        <li>
            <a href="#">
                <div class="parent-icon icon-color-2"><i class="bx bx-list-check"></i>
                </div>
                <div class="menu-title">Check Damage Car</div>
            </a>
        </li>


    </ul>
</div>